.cus-btn {
  background: #ff960c;
  color: white;
  font-size: 1.2rem;
  border-radius: 8rem;
  border: none;
  width: 40%;
  height: 8%;
  line-height: 3rem;
  margin: 4% 2% 0 2%;
  outline: none;
  display: inline-block;
  text-align: center;
}

.cus-btn:active {
  background: #ffcd2c;
}