.con-info {
  /*padding: 5.5rem 3% 3% 3%;*/
  padding-top: 5.5rem;
  width: 100%;
}

.info-top {
  /*height: 15rem;*/
  width: 100%;
  margin-bottom: 1rem;
}

.con-info .cover {
  width: 10.5rem;
  height: 15rem;
  /*margin-bottom: 1.8rem;*/
  margin-left: 4%;
  display: inline-block;
  border: .1rem solid gray;
  border-radius: .3rem;
  vertical-align: top;
  /*-webkit-filter: blur(10px); !* Chrome, Opera *!*/
  /*-moz-filter: blur(10px);*/
  /*-ms-filter: blur(10px);*/
  /*filter: blur(10px);*/
}

.info-r {
  display: inline-block;
  padding: 0 .8rem 0 .8rem;
  vertical-align: top;
  color: black;
  width: 60%;
  /*height: 100%;*/
}

.info-title {
  font-size: 2rem;
  margin: .8rem .4rem;
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-r span {
  display: block;
  /*font-size: 90%;*/
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-left: .4rem;
}

.info-r .span-author {
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cl-desc {
  padding: 0 4%;
  margin-bottom: 1.2rem;
  display: inline-block;
}

.desc {
  width: 100%;
  margin: 0;
  font-size: 1.2rem;
  color: #535252;
}

.chapter-span {
  color: #535252;
  font-size: 1.2rem;
}

.chapter-span-l {
  width: 60%;
  padding-left: 4%;
  display: inline-block;
}

.chapter-span-r {
  width: 32%;
  text-align: right;
  display: inline-block;
}