/* Base Application Styles */
@bg-content:#eee;
html {
    font-size: 62.5%;
    -webkit-user-select: none; /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    background-color: @bg-content;
}

/*14px / 10 = 1.4rem*/
body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #0b0f03;
    background: transparent;
    text-decoration-line: none;
}

/* 去除移动HTML5中点击的阴影 */
div,a,img {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select:none;
}