.category-grid{
    width: 96%;
    margin: 0 auto;
    padding-left: 2%;
}

.category-i{
    display: inline-block;
    width: 24%;
    margin: 2% 4%;
    text-align: center;
}

.category-i img{
    width: 8rem;
    height:8rem;
    border-radius: 4rem;
    margin-bottom: .5rem;
}