.chapter-con {
    /*width: 97%;*/
    /*padding-left: 3%;*/
    text-align: left;
}

.chapter-i {
    display: inline-block;
    width: 28%;
    /*padding: .3rem;*/
    height: 2.8rem;
    font-size: 80%;
    line-height: 2.8rem;
    border: 1px solid #aaa;
    background: white;
    color: #535252;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*margin-right: 4%;*/
    margin-left: 4%;
    margin-top: .8rem;
    text-align: center;
}

.chapter-i:active{
    background: none;
}
