.comic-i {
    /*width: 10rem;*/
    width: 28%;
    height: 16rem;
    /*height: 49%;*/
    text-align: center;
    border-radius: .3rem;
    background: #fff;
    box-shadow: -.1rem .1rem .1rem #ccc;
    display: inline-block;
    margin: 1rem 0 0 4%;
    padding-bottom: 1%;
}

.cover {
    /*width: 9rem;*/
    width: 100%;
    /*height: 12rem;*/
    height: 80%;
    border-radius: .3rem;
}

.author-i {
    color: #6e6e6e;
    font-size: 1.1rem;
    /*margin: .3rem .3rem 0 .3rem;*/
    margin: 2% 4% 0 4%;
    width: 9rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-i {
    width: 9rem;
    color: #4c4c4c;
    font-size: 1.4rem;
    overflow: hidden;
    margin: 2% 4% 0 4%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}