.comic-i {
    width: 28%;
    text-align: center;
    border-radius: .3rem;
    background: #fff;
    box-shadow: -.1rem .1rem .1rem #ccc;
    display: inline-block;
    margin: 1% 2% 1% 2%;
    padding-bottom: .3rem;
    overflow: hidden;
}

/*
图片比例不一样
解决方法:将图片强制拉伸
*/
.cover {
    width: 100%;
    border-radius: .3rem;
}

.title-i {
    width: 80%;
    color: #4c4c4c;
    font-size: 1.4rem;
    overflow: hidden;
    padding-top: 2%;
    margin: 0 auto;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.author-i {
    color: #969696;
    font-size: 1.1rem;
    margin: 2% auto 1% auto;
    width: 80%;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}